/* Box Model Hack */
* {
  box-sizing: border-box;
}

/* Clear fix hack */
.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}

.clear {
clear: both;
}

html {
  font-size: 62.5%;
}

main {
  width: 320px;
  height: 500px;
  background: black;
  margin: 0 auto;
  border-radius: 20px;
  padding: 40px 20px;
}
span {
  display: block;
  background: white;
  width: 280px;
  height: 60px;
  font-size: 5rem;
  line-height: 60px;
  margin: 0 auto;
  padding: 0 5%;
  text-align: right;
}
.keypad {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-content: space-evenly;
  height: 95%;
}
button {
  background: white;
  width: 21%;
  height: 60px;
  text-align: center;
  font-size: 4rem;
  font-weight: bold;
  border: 2px solid black;
  border-radius: 50%;
}
button:hover {
  background: black;
  color: white;
  border: 2px solid white;
}
button:active {
  background: white;
  border: 2px solid black;
}